<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RSCM_BKU_Web.Linq.Properties.Settings.RSCM_BKUConnectionString"
            connectionString="Data Source=10.4.4.23;Initial Catalog=RSCM_BKU;Persist Security Info=True;User ID=sa;Password=ASD123qwe;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="RSCM_BKU_Web.Linq.Properties.Settings.RSCM_BKUConnectionStringBackup"
            connectionString="Data Source=localhost;Initial Catalog=RSCM_BKU;Persist Security Info=True;User ID=sa;Password=muhammad;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>